@import './misc/_text';
@import './misc/_button';

.is-flex {
  display: flex;
}

.m-1-center {
  margin: 1rem auto!important;
}

.pl-16{
  padding-left: 16px!important;
}

.mt-1{
  margin-top: 1rem;
}

.mb-0{
 margin-bottom: 0!important;
}

.height-300{
  height: 300px;
}

.height-400{
  height: 400px;
}


.dropdown-menu{
  margin-top: -1rem;
}

.is-54x54{
  width: 54px;
  height: 54px;
}
.is-27x27{
  width:27px;
  height: 27px;
}

.rounded-circle {
  border-radius: 50%;
}


