.card-header {
  display: flex;
  align-items: stretch;
  background-color: transparent;
  .card-header-title {
    display: flex;
    align-items: center;
    padding: .8rem 1rem;
    color: color(header-light);
  }
  .card-header-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .75rem 1rem;
  }
}

.dataList{
  width: 100%;
  th,tr {
    // width: 25%;
    text-align: center!important;
  }
  
  tbody{
    &:first-child {
      width: 20px;
    }
  }
}



