.gray-text {
  color: color(color-dark-light);
}

.text-is-small {
  font-size: 12px!important;
}

.text-is-15 {
  font-size: 15px!important;
}

.text-is-23 {
  font-size: 23px!important;
}
.text-is-25 {
  font-size: 25px!important;
}
.text-is-27 {
  font-size: 27px!important;
}

.text-is-big {
  font-size: 60px;
}

.text-is-vertical {
  writing-mode: tb-rl;
}