.gray-text {
  color: color(color-dark-light);
}

.text-is-small {
  font-size: 12px;
}

.text-is-15 {
  font-size: 15px;
}

.text-is-27 {
  font-size: 27px;
}

.text-is-big {
  font-size: 60px;
}

.text-is-vertical {
  writing-mode: tb-rl;
}